name: Trigger auto deployment for nzwalks-web-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/nzwalks-web-api-AutoDeployTrigger-12c583b7-c782-492a-bf7d-1e12a0bbc7ce.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.NZWALKSWEBAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.NZWALKSWEBAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.NZWALKSWEBAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.NZWALKSWEBAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.NZWALKSWEBAPI_REGISTRY_PASSWORD }}
          containerAppName: nzwalks-web-api
          resourceGroup: DeepResource_East_US
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


